@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}
body {    
    font-family: 'Muli', sans-serif; 
}
#blackCover{
    width: 80%;
    margin: auto;
    height: 100vh;
    margin-top: -100px;
    background-color: rgb(9, 20, 29);
}
#bg{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    filter: blur(5px);
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
}
#navbar{
    display: flex;
    width: 100%;
    height: 10vh;    
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
}
#navbar>div>img{
    width: 60px;
}
#navbar>div>button{
    border: 1px solid white;
    font-size: large;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
#steps{
    color: #fff;
    margin-left: 15%;
    margin-bottom: -8%;

}
#subs{
    font-size: 25px;
    font-weight: bold;
}
#mainDiv{
    width: 110vh; 
    height: 53vh;   
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 100px;
    border-radius: 10px;
    /* padding: 20px; */
}

#nav{
    width: 20px;
    height: 25px;
    background-color: teal;
    margin-top: -50vh;
    position: fixed;
    margin-left: 25px;
    border-radius: 0 0 10px 10px;
}
#buy_data{
    width: 48%;
    display: table;
    line-height: 50px;
    border-right: 1px dashed red;
    background-color: rgba(162, 249, 220, 0.532);
    padding: 15px;
    margin-top: 19px
}
#buy_data2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    line-height: 3vh;
    border: 1px solid red;
    padding: 10px;
}
#buy_data_2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}
#buy_plan{
    width: 45%;
    display: table;
    line-height: 50px;
    padding: 15px;
}
#king{
    width: 50px;    
    position: fixed;
    margin-top: -12vh;
    border-radius: 50%;
    margin-left: 37vh;
}
#tre input{
    border-radius: 50%;
    border: 5px solid red;
}


/* chek box */
.round {
    position: relative;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }


  #buy_butn{
      background-color: green;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
  }


  @media only screen and (max-width: 1138px)  {
    #mainDiv{
        width: auto; 
        height: auto;   
        margin: auto;
        background-color: white;
        display: flex;
        flex-direction: column;       
        margin-top: 100px;
        border-radius: 10px;
        /* padding: 20px; */
    }
    #king{
        width: 50px;    
        position: absolute;
        margin-top: -55vh;
        border-radius: 50%;
        margin-left: 60vh;
    }

    


  }
