html,body{
    height: 100%;
    margin:0px;
    background-color: #0f0617;

}
a,button{
    cursor: pointer;
}
#content{
    margin-top: 70px;
    min-height: 100%;
    z-index: 0;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: rgb(56, 55, 55); 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(168, 155, 155); 
}