#main_lang_div{
    height:500px;
    width:24%;
    margin:auto;


}
#dis_lang{
    border:1.5px solid rgb(49, 45, 45);
    height:50px;
    width:99%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#170a25;
    color:white
    
}
#lang_div{
    height:370px;
    width:100%;
    
    background-color:#170a25;
}
#button_div{
    height:73px;
    width:100%;
    
    margin:auto;
    text-align: center;
    background-color:#170a25;
}
#apply_button{
    padding: 10px 75px 10px 75px;
    font-size: large;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #8230C6;
    border: none;
    color:white
}
#language_div{
 overflow: hidden;
 overflow-y: scroll;
 
  height:330px;
  background-color:#170a25;
  
}
::-webkit-scrollbar {
width: 7px;
}
::-webkit-scrollbar-thumb {
background: rgb(56, 55, 55); 
border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
background: rgb(168, 155, 155); 
}

#ul_li {
display: flex; 
justify-content: space-between;
width:100%;
margin: auto;

}
#ul_li>label a{
margin-left: 6px;
}
#ul_li>label {
margin-left: 10px;
font-weight: bolder;
color: azure;
}
#radio_div{
margin-top: 15px;
height: 30px;
padding-top: 10px;
}
#radio_div:hover{
background-color:rgba(48, 44, 44, 0.5);
border-radius: 5px;


}
#clc{
color:hsla(0,0%,100%,.5)
}
#ul_li>input{
margin-right: 20px;
}
