/* * {
    background-color: black;
} */
 .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(46, 41, 41, 0.553);
  }
  
  .next {
    right: 0%;
    border-radius: 3px 0 0 3px;
  }
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

  .card_A > img {
    vertical-align: middle;
  }
  

  .top_heading>a, .rect_bottom_text>a, .crown-A>a {
    text-decoration: none;
   }
   
.rect_containerbox{
    width: 90%;
    margin: auto;
    position: relative;
}

.top_heading-A{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    
}



.top_heading-A>p,a{
    margin-top: 20px;
}
.top_heading-A a{
    color:#a785ff;
}



  .rectcard_container{
      height: 250px;
      display: flex;
      align-items: center;
      transform: translateX(0);
      transition: all 0.4s ease-in-out;
      
     
  
  }
  .rect_card{
      
      min-width: 250px;
      height: 200px;
      border-radius: 5px;
      margin-top: 1%;
      position: relative;
      transition: 00.3s;
      margin-right: 25px;
  
  }
  .rect_card:hover{
      transform: scale(1.1);
      border: 4px solid #ffffff;
      /* height: 350px; */
  }
  /* .crown-A{
      position: absolute;
      top: 1%;
      left: 1%;
      background-color: #ffffff;
      padding: 1% 1.5%;
      background-color: none;
      border-radius: 50%;
  }
  .crown-A a{
      background-color: #ffffff;
      border-radius: 50%;
  }
  .crown-A i{
      color:  #ff0066;
     background-color: #ffffff;
    
  
  } */
  .rect_card >img{
      width: 100%;
      height: 100%;
      border-radius: 5px;
      
  }
  .recttext_content{
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #ffffff;
      padding-bottom: 0px;
      /* border-radius: 5px; */
      line-height: 1;
      padding-left: 2%;
      display: none;
      transition: 0.4s;
      box-sizing: border-box;
  }
  .rect_card:hover .recttext_content{
      display: inherit;
  }
  .recttext_content >p{
      padding: 1% 1.5%;
      font-size: 14px;
      font-weight: bold;
      color: black;

  }
  .rect_bottom_text{
      display: flex;
      align-items: center;
      
  }
  .rect_bottom_text a{
      border: 1px solid gray;
      color: black;
      padding: 1% 2.5%;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 600;
      margin-right: 10px;
  }
  .rect_bottom_text a +p{
      color: black;
      margin-top: 25px;
  }
  .rect_bottom_text a:hover{
      background-color: #210a64;
      color: #ffffff;
  }
  .rect_bottom_text p{
      color: gray;
  }
  
    
  
  .news-list-wrapper-A {
    position: relative;
    overflow: hidden;
    background-color: #08011a;;
    /* margin: 10px 0; */
  }








  .card_container-B {
    height: 300px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
    margin-top: 10px;


    /* margin-top: -3px; */
    
    
  }

  .rect_card >img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin-bottom:5px;
}



.card_container-C,.card_container-D {
    height: 300px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
    margin-top: 50px;

    
}

.rect_card >img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin-bottom:5px;
}


 .card_container-B >div{
    background-position:center;
    background-repeat: no-repeat; 


} 




/* .card_container-D {
    height: 300px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
    margin-top: 50px;

    
} */
/* .card-B{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-sizing: border-box; */
/* } */


  