*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(7, 6, 24);
    color: #fff;
    font-family: NotoSansBold, sans-serif;
}

#login_Main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    line-height: 60px;
    /* border: 1px solid red; */
}
.login_p1{
    width: 50%;
    margin: auto;
    color: #aaa;
    line-height: 20px;
    margin-bottom: 30px;
}
#register_button{
    width: 40%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 5px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #fff;
    font-size: 15px;
    color: rgb(38, 61, 38);
    cursor: pointer;
}
.icon_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.or{
    background-color: #121;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    font-size: small;
    margin-bottom: -10px;
}
.login_input{
    border-width: 20%; 
    color: white;   
    border-bottom: 1px solid red;
}
.login_forget{
    width: 40%;
    margin: auto;
    text-decoration: none;
    font-size: 13px; 
    text-align: left;  
    line-height: 20px; 
    margin-bottom: -40px;
}
.login_New{
    font-size: 13px;
}
.login_New>a{
    text-decoration: none;
}
.login_button{
    font-size: 15px;
    background-color: rgba(21, 0, 21, 0.321);
    color: rgb(149, 141, 141);
    border: 1px solid rgb(149, 141, 141);
    padding: 12px 15%;
    border-radius: 5px;
    cursor: pointer;
}

/* placeholder changes on input focus*/

.user-input-wrp {
	position: relative;
	width: 40%;
    margin: auto;
}
.user-input-wrp #inputText:focus{
    color: white;
    outline: none;
    border-bottom: 1px solid blue;	
}
#inputText{
    width: 100%;
    height: 20px;
    background-color: #101;
    border: none;
    border-bottom: 1px solid red;    
}
.floating-label{
    font-size: smaller;
    color: rgb(174, 185, 174); 
    margin-bottom: 40px;   
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 15px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}
/* ================*********====================== */

