
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 .movie-list-wrapper a{
    text-decoration: none;
    margin-top: 10px;

}

/* body{
    background-color:#0f0617;
    font-family: Arial, Helvetica, sans-serif;
} */

.containerbox{
    width: 90%;
    margin: auto;
    position: relative;
}
.heading_top{
    display: flex;
    justify-content: space-between;
}

.heading_top>p{
    font-size: 25px;
    margin-top: 10px;
    background-color: black;
}
.heading_top a{
    color:#6649b0;
}
/* ----------------------------------heading End --------------------- */

.cardbox_container {
    /* border: 1px solid white; */
  height: 400px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all 0.9s ease-in-out;
}
.cardbox{
    
    min-width: 240px;
    height: 330px;
    border-radius: 5px;
    margin-top: 1%;
    position: relative;
    transition: 00.4s;
    margin-right: 25px;
    box-sizing: border-box;

}
.cardbox:hover{
    transform: scale(1.1);
    border: 6px solid #ffffff;
    border-radius: 5px;
    /* height: 350px; */
}
.crownicon{
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: #ffffff;
    padding: 1% 1.5%;
    background-color: none;
    border-radius: 50%;
}
.crownicon a{
    background-color: #ffffff;
    border-radius: 50%;
}
.crownicon i{
    color:  #ff0066;
   background-color: #ffffff;
}
.cardbox >img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.text_content{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #ffff;
    /* padding-bottom: 10px; */
    /* border-radius: 5px; */
    padding-left: 2%;
    display: none;
    transition: 4.9s;
    
    /* height: 180px; */
}

.text_content>h2{
    margin-bottom: -1px;
    color: black;

}
.cardbox:hover .text_content{
    display: inherit;
    /* box-shadow: inset 0 100px 0 0 #ffffff; */

}
.text_content >p{
    /* padding: 1% 1.5%; */
    font-size: 14px;
    font-weight: bold;
    
}
.bottom_text{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
    
}
.bottom_text a{
    border: 1px solid gray;
    color: black;

    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    /* font-weight: 600; */
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
}
.bottom_text  +p{
    margin-top: 10px;
}
.bottom_text a:hover{
    color: #ffffff;
    background-color: #6646b7;

}

.bottom_text p{
    color: black;
    margin-top: 30px;

}

  

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  /* border: 3px solid honeydew; */
  /* margin: 10px 0; */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

 .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next2 {
  right: 0%;
  border-radius: 3px 0 0 3px;
}
.pre1:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
