*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#poster{
    height: 610px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top:0;
    bottom: 0;left: 0;right: 0;
    position:relative;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#poster>div{
    width: 40%;
    /* border: 1px solid white; */
    
}
#cast{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#moviename{
    color: white;
}
#tvshow_details{
    text-align: left;
}
#about_show{
    color:gray
}
#share_promo{
    width: 200px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    margin-top: 20px;

}

#share_promo p{
   color:gray
   
}

#share_promo i{
    font-size: 30px;
   
}

#latest_ep_btn{
    width: 260px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#8230c6;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    justify-content: space-between;
    display: flex;
    margin-left:250px;
    margin-top: 420px;
   
    
}
#latest_ep_btn>i{
    font-size: large;
}
#latest_ep_btn>div{
    margin:auto;
   box-sizing: border-box;
    
}